:root {
    --primary: #334155;
    --light: #f1f5f9;
    --dark: #0f172a;
}

html {
    color: var(--dark);
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px 50px;
}

/* Header */
header {
    place-self: center;
    font-size: 1.5rem;
}

/* Dashboard */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    padding: 8px 16px;
    background: var(--light)
}

button:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Grid Board */
.container {
    place-self: center;
}

.game-board {
    display: grid;
}

.row {
    display: flex;
   /* grid-template-columns: repeat(3,1fr); */
}

.box {
    border: solid;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    font-size: 64px;
}

/* .box:hover {
    background-color: var(--dark);
} */


.left {
    border-left: none;
}

.top {
    border-top: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

/* Message */

.message {
    display: grid;
    margin-top: 1rem;
    place-items: center;
}