:root {
    --primary: #334155;
    --light: #f1f5f9;
    --dark: #0f172a;
}

html {
    color: var(--dark);
    padding: 0;
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 500px 30px;
}

/* Header */
header {
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 32px;
}

/* Main Container */
.main-container {
    display: grid;
}

/* Dashboard */
.dashboard {
    display: grid;
    place-items: center;
    
}

.start-screen {
    
    display: grid;
    grid-template: 1fr auto / 1fr 1fr;
    align-self: center;
    gap: 16px
    /* grid-template-columns: 1fr 1fr; */
}

.start-button {
    grid-column: 1 / span 2;
    place-self: center;
}

.player-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.name-input label {
    font-size: 12px;
    text-align: center;
}

.icon {
    display: grid;
    place-items: center;
    border: solid;
    border-radius: 4px;
    width: 72px;
    height: 72px;
    font-size: 64px;
    margin-bottom: 8px;
}

.clearBtn {
    display: none;
}

button {
    padding: 8px 16px;
    background: var(--light)
}

button:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Grid Board */
.container {
    padding-top: 16px;
    display: none;
    place-self: center;
    grid-template-rows: 1fr 100px;
    place-items: center;
}

.game-board {
    display: grid;
}

.row {
    display: flex;
   /* grid-template-columns: repeat(3,1fr); */
}

.box {
    border: solid;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    font-size: 64px;
}

/* .box:hover {
    background-color: var(--dark);
} */


.left {
    border-left: none;
}

.top {
    border-top: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

/* Message */

.message {
    display: grid;
    margin-top: 1rem;
    place-items: center;
    font-size: 32px;
    text-transform: uppercase;
}

/* Footer */

footer {
    display: grid;
    place-items: center;
    background-color: var(--dark);
    color: var(--light)
}
